
//
// slide.showページ
//
.main-wrapper{

    .btn-wrapper{
        position: absolute;
        top:500px;
        left:50px;
        a{
            font-size: 80px;
            color:gray;
            cursor: pointer;
            padding:0px 3px;
            :hover{
                color:black;
                transition: color 0.5s;
            }
        }
    }

    .card{
        .main-card-body{
            .card-body{
                .edit_delete_wrapper{
                    position: absolute;
                    bottom:0px;
                    right:20px;
                }
            }
        }
    }

}
