// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//ナビバー
.navbar{
    a{
        font-weight: bold;
    }
}

// トップページ
.top-image {
    background: url('../images/top.jpg');
    height: 600px;
    background-size: cover;
    position: relative;
    h1 {
        position: absolute;
        width: 100%;
        text-align: center;
        color:white;
        font-weight: bold;
        top:270px;
        font-size: 78px;
    }
    p{
        position: absolute;
        width: 100%;
        text-align: center;
        color:rgba(255, 255, 255, 0.769);
        font-weight: bold;
        top:370px;
        font-size: 18px;
    }
}
.top-image::before{
/* 透過した黒を上から重ねるイメージ */
background-color: rgba(0,0,0,0.6);
/* 自由に位置指定 */
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: ' ';
}


